.productpic img{
    position: relative;
   height: 50vh;
   width: 94vw;
   border-radius: 15px;
}
.productpic{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 3%;
}
.product-pic-text{
            position: absolute;
             top: 35%;
            left: 50px;
            font-weight: 800;
            font-size:3.3rem;
            font-family: 'Playfair Display', 'Raleway','Georgia', 'serif';
            font-style: italic;
            letter-spacing: 2px;
            line-height: 5.5rem;
            


}
@media (max-width: 786px) {
    .productpic img {
        height: 40vh;
        width: 90vw;
    }
}
@media (max-width: 340px) {
    .productpic img {
        height: 37vh;
        width: 90vw;
    }
}
@media (max-width: 464px) {
    .productpic img {
         margin-top: 30px;
        
    }

}