body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 
  
}
.main-contact{
    display: flex;
    gap: 30%;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 5%;
}
 .contact-pic img{
       width: 32vw;
      height: 90vh;
      margin-top: 80px;
      border-radius: 10px;
      margin-right: 40px;
} 
textarea {
  min-height: 50px;
  resize: vertical;
  min-width: 100%;
}
.name{
   
    font-size: 20px;
}
 .contact-heading{
    font-size: 40px;
  /* margin-left: 35%; */
  text-align: center;
  letter-spacing: 1px;
 }
 .name-fields {
          display: flex;
          gap: 100px;
 }
 /* .name-fields div{
    flex: 1;
 } */
  .contact-f input,select,textarea{
    width: 120%;
    margin-top: 5px;
    padding: 15px;
    border-radius: 10px;
 }
 input,select{
    margin-bottom: 13px;
 }
 form label {
  display: block;
  margin-top: 15px;
  font-size: 20px;
   font-weight: 600;
   margin-bottom: 4px;
} 
.names{
    color: #555;
}
 .contact-button{
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 128%;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
 }