
.about-container{
        display: flex;
        gap: 7%;
        margin-top: 3%;
}
.about-container img{
    border-radius: 50%;
    margin-left: 5%;
    width: 30vw;
    height: 50vh;
    padding: 20px;
    
}
.para1{
    width: 35%;
    line-height: 1.5;
    /* letter-spacing: 2px; */
    /* margin-right: 5%; */
}
.para1 p{
    font-size: 37px;
}
.para2{
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    line-height: 1.5;
}

@media (max-width: 854px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 5%;
  }

  .about-container img {
    margin-left: 0;
    width: 50vw;
    height: 50vh;
    padding: 10px;
  }

  .para1 {
    width: 80%;
  }

  .para1 p {
    font-size: 28px; 
  }

  .para2 {
    margin: 0 10% 5% 10%;
    font-size: 18px;
  }
}
